:root {

    /*Light Vars*/
    --light-bg: #e1e1e1ee;
    --light-color: black;
    --light-fg: white;
    --light-data-outline: grey;

    /*Dark Vars*/
    --dark-bg: rgb(26, 26, 26);
    --dark-color: white;
    --dark-fg: rgb(19 19 19);
    --dark-data-outline: grey;

    --sidebar-width: 4vw;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#sideBar {
    position: fixed;
    display: inline-block;
    padding: 10px;
    padding-right: 0;
    width: var(--sidebar-width);
    height: calc(100vh - 20px);
    font-size: 0;
    justify-items: center;
    align-items: center;

    transition: width 0.5s;
    transition: font-size, 0.5s;

}

#sideBar:hover {
    --sidebar-width: 10vw;
    font-size: 20px;
}

#sideBar > a {
    color: black;
    text-decoration: none;
        justify-items: center;
    align-items: center;
}

#content {
    position: absolute;
    left: calc( var(--sidebar-width) + ( ( 100vw - 50vw ) / 2 ) );
    width: 50vw;
    min-height: 100%;
}

.horizontal-bar-chart {
    position: relative;
    display: flex;
    align-items: flex-end;
    gap: 2px;
    margin: 5px;
    padding: 7px;
    border: 1px solid var(--light-data-outline);
    border-radius: 4px;
}

.horizontal-bar-chart::before {
    content: attr(title);
    position: absolute;
    display: flex;
    align-items: center;
    height: 20px;
    margin: 0;
    padding: 10px 20px;
    font-size: x-large;
    top: 0;
    left: 0;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
}

.horizontal-bar-chart .bar {
    flex-grow: 1;
    width: 0;
    background-color: green;
    text-align: center;
}

.chartTitle {
    text-decoration: underline;
    margin-left: 5px;
}