:root {

    /*Light Vars*/
    --light-bg: #EEEE;
    --light-color: black;
    --light-fg: white;
    --light-data-outline: grey;

    /*Dark Vars*/
    --dark-bg: rgb(26, 26, 26);
    --dark-color: white;

    --sidebar-width: 4vw;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#sideBar {
    position: fixed;
    display: inline-block;
    padding: 10px;
    padding-right: 0;
    width: var(--sidebar-width);
    height: calc(100vh - 20px);
    box-shadow: 3px 0 5px rgb(223, 223, 223);
    font-size: 0;
    justify-items: center;
    align-items: center;

    transition: width 0.5s;
    transition: font-size, 0.5s;

}

#sideBar:hover {
    --sidebar-width: 10vw;
    font-size: 20px;
}

#sideBar > a {
    color: black;
    text-decoration: none;
        justify-items: center;
    align-items: center;
}

#content {
    position: absolute;
    left: calc( var(--sidebar-width) + ( ( 100vw - 50vw ) / 2 ) );
    width: 50vw;
    height: 100vw;
}

.horizontal-bar-chart {
    display: flex;
    align-items: flex-end;
    gap: 2px;
    margin: 5px;
    padding: 7px;
    border: 1px solid var(--light-data-outline);
    border-radius: 4px;
}

.horizontal-bar-chart .bar {
    flex-grow: 1;
    width: 0;
    background-color: green;
    text-align: center;
}

.horizontal-bar-chart .chartTitle {
    position: absolute;
    top: 10px;
    text-decoration: underline;
    margin: 0;
}